@media (prefers-color-scheme: dark) {
  html {
    background: #222;
    color: white;
  }
}

* {
  box-sizing: border-box;
  font-size: 18px;
}

html {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}

body {
  font-family: times, serif;
  margin: 0;
  margin-top: -5px;
  text-align: center;
}

button {
  border-radius: .5em;
  padding-bottom: .25em;
  margin-top: .25em;
  margin-left: .2em;
  border: none;
  background-color: ;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);
}

p, a {
  font-family: times, serif;
  color: black;
  font-family: serif;
  font-size: .8em;
}

.bio {
  font-family: "aldine_721", serif;
  color: gray;
  font-family: serif;
  font-size: .8em;
  line-height: 1.5em;
  padding: 2em;
  padding-left: 15vw;
  padding-right: -5px;
  text-align: right;
}

h1 {
  font-family: times, serif;
  font-size: 1em;
  line-height: 3em;
  font-weight: 500;
  color: black;
}

a:hover {
  cursor: alias;
}

a:visited,
a:link {
  text-decoration: none !important;
}

.highlight a:hover {
  background: red;
  color: white;
}
